@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,400;0,500;0,700;1,400&family=Nunito:wght@300;400;600;700&display=swap');

h1, h2 {
  font-family: 'Cormorant', serif;
  text-align: center;
}

h1 {
  font-size: 3.4rem;
  color: #17a1a1;
}

h1.title::after {
  content: '';
  display: table;
  width: 420px;
  height: 2px;
  /* background: rgba(38, 37, 37, .2); */
  background: rgba(23, 161, 161, .3);
  margin: 0 auto 40px auto;
}

p {
  font-family: 'Nunito', sans-serif;
}

.container {
  background: #ececec;
  min-height: 500px;
  min-width: 960px;
  padding: 20px;
  margin: 40px 0;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 0 rgba(38, 37, 37, .2);
}

.lista Button, .content Button {
  background: rgba(38, 37, 37, .9);
  color: #FFF;
  font-size: .875rem;
  letter-spacing: .05px;
  margin: 10px;
  padding: 10px 20px;
  transition: .3s all ease;
}

.lista Button:hover, .content Button:hover {
  background: rgba(38, 37, 37, 1);
}